/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */






body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.homepage-card{
   background-color: #FFFEF8;
}

.info-card{
    
    height: 27%;
    background-image: url("assets/photo exports/placeholder.jpg");
    z-index: 0;
    margin: 0 0 13% 0;
   
}

.info-card-details{
    position: absolute;
    z-index: 1;
}

.info-card-details h3{
padding: 35px 0 0 25px;

}

.info-card img{
    width: 100%;
    position: absolute;
    z-index: -2;
}

.info-card-2{
    margin-top: 70%;
    text-align: center;
}

.info-card-2 q{
    font-weight: 800;
    margin-bottom: 10%;
}

button {
    display: inline-block;
    background-color: #21409D;
    border-radius: 4px;
    width: 60%;
    height: 7%;
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin-top: 4%;
}


.alt-info-card{
    /* background-color: #21409D; */
    margin: 0;
}

.alt-info-card-details{
    position: absolute;
    z-index: 1;
    text-align: center;
}

.alt-info-card-details h2{
    margin-top: -4%;
    font-weight: 800;
    font-size: 2.25em;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.alt-info-card-details h3{
    margin-top: 10%;
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.sched-text{
    margin-top: -10%;
    position: relative;
    font-size: .5em;
}


.alt-info-card svg{
    width: 100%;
    position: absolute;
    z-index: 0;
    /* margin-top: auto;
    margin-bottom: auto; */
}

.free-gray{

}

h1, h2{
    font-weight: 400;
}

/* Header */

.header{
    /* background-color: #21409D; */
    display: flex;
    flex-direction: row;
    margin-top: -19px;
    margin-bottom: -41px;
    z-index: 1;
}

.header-details{
    z-index: 1;
    width: 100%;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* .header-details svg{
    margin: 12% 0 0 1%;
} */

.phone-icon{
    margin: 12% 8% 0 10%;
}

.header-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10% 10% 0 0%;
    text-align: left;
}



.header h1{
    font-size: 1.25em;
    margin: 0;
    font-weight: 700;
}

.header h2{
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    margin-bottom: -3%;
}

.highlight{
    font-weight: bold;
    color: #A50104;
}

.grey-header{
    color: #cbcbcb;
    margin-bottom: 1%;
    
}

.header-curve {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.hamburger{
    margin: 15% 0 0 -6%;
    /* margin-right: 5%; */
    position: relative;
    
}
.local{
    font-size: .75em;
    font-weight: 700;
    margin-top: -2%;
    color: white;
    
}


.footer {
  /* background-color: #152965; */
  color: white;
  bottom: 0;
  position: absolute;
  /* align-items: center; */
  /* bottom: 0; */
  /* margin: 249px 0 0 0; */
  width: 100%;
  /* height: 100%; */
  
 
}

.footer-details{
    position: absolute;
    z-index: 1;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
        
}

.footer-details p{
    font-size: .55em;
    text-align: center;
    flex: 1px;
    margin: 13px 6px 1px 6px;
}

.footer div svg{
    position: absolute;
    z-index: 0;
    /* margin: auto; */
    /* bottom: 0px; */
    width: 100%;
   /* height: 100%; */
}

.footer-details span{
    color: #cbcbcb;
    display: block;
    
}

#pin{
    z-index: 1;
    display: inline;
  

    flex: 1px;
    padding-right: 5%;
}